.password-item {
  background: #f4f4f4;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.password-item p {
  margin: 4px 0;
}

.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.btn-group button {
  padding: 5px 10px;
  border: none;margin: 10px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.btn-group button:last-child {
  background-color: #dc3545;
}
.edit-btn{
  border: none;margin: 10px;margin-left: 0;
  border-radius: 6px;padding: 5px 10px;
  cursor: pointer;color: rgb(14, 1, 1);
  background-color: #d9cc41;
}

.delete-btn{
  border: none;margin: 10px;color: white;
  border-radius: 6px;
  cursor: pointer;padding: 5px 10px;
  background-color: #f90a0a;
}
